LABEL arch
TEXT HELP
Boot the RengeOS on BIOS Legacy Mode With Linux Latest.
Run Live RengeOS.
ENDTEXT
MENU LABEL RengeOS Live With The Latest Linux Kernel
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-stratix-pulse
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-stratix-pulse.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=5G copytoram=unset nvme_load=yes

LABEL arch
TEXT HELP
Boot the RengeOS on BIOS Legacy Mode With Linux LTS.
Run Live RengeOS.
ENDTEXT
MENU LABEL RengeOS Live With The LTS Linux Kernel
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-stratix-pulse-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-stratix-pulse-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=5G copytoram=unset nvme_load=yes

# Fallback boot option
LABEL arch64fallback
TEXT HELP
Boot the RengeOS Fallback With Linux LTS on BIOS.
It Allows You To Bypass Some Bug Of Video Drivers If It Is Not Working.
ENDTEXT
MENU LABEL RengeOS Live With The LTS Linux Kernel (Nomodeset)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-stratix-pulse-lts
INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux-stratix-pulse-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=5G copytoram=unset nvme_load=yes nomodeset
